BODY {
	LINE-HEIGHT: 16pt; FONT-STYLE: normal; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
P {
	LINE-HEIGHT: 16pt; FONT-STYLE: normal; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
TD {
	LINE-HEIGHT: 16pt; FONT-STYLE: normal; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
TR {
	LINE-HEIGHT: 16pt; FONT-STYLE: normal; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
TABLE {
	LINE-HEIGHT: 16pt; FONT-STYLE: normal; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
text {
	LINE-HEIGHT: 16pt; FONT-STYLE: normal; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A {
	COLOR: #000000; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A:hover {
	COLOR: #00cc00; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
